.background {
    background-color: white;
    /* gradient background */
    /* background: linear-gradient(90deg,
            rgba(255, 255, 0, 0.824),
            rgb(203, 183, 2),
            rgba(0, 0, 0, 0.824)); */
}

img {
    height: 2rem;
    width: auto;
}

.bat-icon {
    animation: bat-enter forwards 1000ms;
}

@keyframes bat-enter {
    0% {
        transform: translateX(1000px) scaleX(0);
        opacity: 0%;
    }

    20% {
        transform: translateX(0) scaleX(1);
    }

    40% {
        transform: translateX(0) scaleX(0);
    }

    60% {
        transform: translateX(0) scaleX(1);
    }

    80% {
        transform: translateX(0) scaleX(0);
    }

    100% {
        transform: translateX(0) scaleX(1);
        opacity: 100%;
    }
}