.header {
    background-image: linear-gradient(to right, #7b7b7b, #4d4d4d);
    /* background-image: linear-gradient(to right, #4d4d4d, #7b7b7b); */
    /* background-image: linear-gradient(to bottom, red, yellow); */
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    filter: drop-shadow(0px 3px 3px white);
    row-gap: 30px;

    z-index: 200;
}

a {
    text-decoration: none;
}

.header-button {
    background-color: yellow;
    padding: 10px 15px;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    border-radius: 1vh;
    font-size: 2vh;
    color: black;
}

.text-image {
    height: 3vh;
}

.bat-image {
    height: 3vh;
}

.button {
    cursor: pointer;
    transition: filter .3s ease-in-out;
}

.button:hover {
    filter: drop-shadow(0px 3px 3px white);
}

.hstack {
    display: flex;
    flex-direction: row;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-rev {
    flex-wrap: wrap-reverse;
}

.row-gap {
    row-gap: 20px;
}

.min-column {
    max-width: 100vmin;
    padding: 20px;
}

.wide {
    width: 100%;
}

.center {
    justify-content: center;
}

.apart {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

.background {
    margin-top: -10px;
    /* thats annoying */
    margin-left: -10px;
    /* thats annoying */
    background-color: #2d2d2d;
    width: 110vw;
    height: 110vh;
    position: fixed;
}

.team-photo {
    max-height: 40vh;
    /* width: 80%; */
    border-radius: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: sans-serif;
}

#front {
    z-index: 100;
}

.image {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px white);
    object-fit: scale-down;
}

.icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 15px;
}

.youtube-icon {
    width: 44px;
    height: 44px;
    padding: 10px;
    background-color: #2d2d2d;
}

.appear {
    animation: floatUp ease-out forwards 500ms;
}

.appear-down {
    animation: floatDown ease-out forwards 1000ms;
}

.appear2 {
    animation: floatUp ease-out forwards 750ms;
}

.appear3 {
    animation: floatUpTranslucent ease-out forwards 1000ms;
}

@keyframes floatUp {
    0% {
        transform: translateY(50px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}


@keyframes floatDown {
    0% {
        transform: translateY(-50px);
        opacity: 0%;
    }

    25% {
        transform: translateY(-50px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes floatUpTranslucent {
    0% {
        transform: translateY(50px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 90%;
    }
}

.textbox {
    background-color: #7b7b7b;
    padding: 20px;
    border-radius: 20px;
    /* width: 100%; */
    filter: drop-shadow(3px 3px 3px white);
}

.flex {
    display: flex;
    gap: 10px;
}

.apart {
    justify-content: space-between;
}

.bottom {
    align-items: end;
}

.large-text {
    /* font-size: 1.5rem; */
    font-size: 1.5vh;
}

.big-font {
    font-size: 200%;
}

.yellow {
    color: yellow;
}

.dates-title {
    font-size: 90%;
    color: black;
}

.city {
    font-size: 60%;
    color: black;
}