.top-section {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(115, 115, 115, 0.75)), url('../../assets/media/zilker-court.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}

.mid-section {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(22, 16, 16));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}