.top-section {
    text-align: left;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(115, 115, 115, 0.75)), url('../../assets/media/team/stillwater\ oklahoma\ 3rd\ place.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}