:root {
    --space: 15px;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.hstack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.apart {
    justify-content: space-between;
}

.gap {
    gap: var(--space);
}

.pad {
    padding: var(--space);
}

button {
    /* background-color: yellow;
    border: 1px solid black;
    padding: var(--space); */
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0, 0);
}

button:hover {
    border-bottom: 2px solid black;
}

a {
    color: inherit;
}

.icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 15px;
}

.section {

    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;

    color: white;
    text-align: center;
}