:root {
    --space: 15px;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.hstack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.apart {
    justify-content: space-between;
}

.gap {
    gap: var(--space);
}

.pad {
    padding: var(--space);
}

button {
    /* background-color: yellow;
    border: 1px solid black;
    padding: var(--space); */
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0, 0);
}

button:hover {
    border-bottom: 2px solid black;
}

.big-yellow-button {
    width: fit-content;
    color: black;
    text-shadow: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: yellow;
    box-shadow: 5px 10px 2px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out;
}

.big-yellow-button:hover {
    box-shadow: 10px 15px 2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    scale: 1.1;
}

a {
    color: inherit;
}

.icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 15px;
}

.youtube-icon {
    width: 44px;
    height: 44px;
    padding: 10px;
    background-color: #2d2d2d;
}

.section {

    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;

    color: white;
    text-align: center;
}