.top-section {
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(115, 115, 115, 0.75)), url('../../assets/media/team/2026 playoffs team photo.JPG');
}

.mid-section {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(22, 16, 16));
}

.pickup-section {
    background-image: url('../../assets/media/team/zach-diving.jpeg');
    background-position: 50% calc(50% - 50px);
}