.top-section {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;

    color: white;
    /* font-size: 1rem; */
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(115, 115, 115, 0.75)), url('../../assets/media/team/2026 playoffs team photo.JPG');
    /* background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(251, 255, 42, 0.75)), url('../../assets/media/team/2026 playoffs team photo.JPG'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}